@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/static/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/static/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 16px;
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

@media (hover: hover) {
    :hover {
        cursor: pointer;
    }
}

/* Colors */

:root {   
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
    --pink: hsla(281, 83%, 54%, 1);
}

/* Typography */

html {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

.heading-1 {
    color: var(--purple-950);
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 600px) {
        font-size: 3.5rem;
    }
}

.faq-question {
    color: var(--purple-950);
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    transition: color .3s ease-in-out;

    @media screen and (min-width:600px) {
        font-size: 1.125rem;
    }

    @media (hover: hover) {
        &:hover {
            color: var(--pink);
        }
    }
}

.faq-answer {
    color: var(--purple-600);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;

    @media screen and (min-width: 600px) { 
        font-size: 1rem;
    }
}

/* Background */

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FAQ container */

.faq-container {
    border: 1px solid red;
    width: 87.2%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;

    @media screen and (min-width: 600px) {
        max-width: 600px;
        padding: 40px;
        gap: 32px;
        border-radius: 16px;
    }
}

/* Heading */

.heading-1 {
    display: flex;
    align-items: center;
    gap: 24px;

    .star-icon {
        width: 24px;
        height: 24px;

        @media screen and (min-width: 600px) {
            width: 40px;
            height: 40px;
        }
    }
}

/* FAQs */

details {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--purple-100);
    
    &[open] {
        gap: 24px;
    }

    @media screen and (min-width: 600px) {
        padding: 24px 0;
    }

    &:first-of-type {
        padding: 0 0 20px 0;
        
        @media screen and (min-width: 600px) {
            padding: 0 0 24px 0;
        }
    }

    &:last-of-type {
        padding: 20px 0 0 0;
        border-bottom: none;

        @media screen and (min-width: 600px) {
            padding: 24px 0 0 0;
        }
    }
}

/* FAQ question */

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    list-style: none;
}

.question {
    width: 80.65%;

    @media screen and (min-width: 600px) {
        width: 88.27%;
    }
}

.icon {
    width: 30px;
    height: 30px;
}

.icon-open {
    display: none;
  }
  
  details[open] .icon-closed {
    display: none;
  }
  
  details[open] .icon-open {
    display: inline;
  }

